.root {
  width: 100%;
  --tw-bg-opacity: 1;
  background-color: rgb(248 250 252 / var(--tw-bg-opacity, 1));
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.stack {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  max-width: 1320px;
  flex-direction: column;
}

.stack2 {
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.label {
  margin-bottom: 0.5rem;
  font-family: Inter;
  font-size: 11px;
  line-height: 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  --tw-text-opacity: 1;
  color: rgb(0 82 204 / var(--tw-text-opacity, 1));
}

.title {
  font-family: Plus Jakarta Sans;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.02em;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(15 23 42 / var(--tw-text-opacity, 1));
}

.card {
  margin-top: 1rem;
  height: 0.25rem;
  width: 4rem;
  border-radius: 9999px;
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
  --tw-gradient-from: #0052cc var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(0 82 204 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: #10b981 var(--tw-gradient-to-position);
}

.box {
  position: relative;
  width: 100%;
}

.decor {
  position: absolute;
  left: 2rem;
  right: 2rem;
  top: 28px;
  z-index: 0;
  display: none;
  height: 0.125rem;
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
  --tw-gradient-from: #bfdbfe var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(191 219 254 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: rgb(110 231 183 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops:
    var(--tw-gradient-from), #6ee7b7 var(--tw-gradient-via-position),
    var(--tw-gradient-to);
  --tw-gradient-to: #0052cc var(--tw-gradient-to-position);
}

@media (min-width: 1024px) {
  .decor {
    display: block;
  }
}

.columns {
  position: relative;
  z-index: 10;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 2rem;
}

@media (min-width: 768px) {
  .columns {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .columns {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

.milestone {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

@media (min-width: 1024px) {
  .milestone {
    align-items: center;
    text-align: center;
  }
}

.ring {
  margin-bottom: 1rem;
  display: flex;
  height: 3.5rem;
  width: 3.5rem;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  border-width: 2px;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored:
    0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow:
    var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
    var(--tw-shadow);
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.group:hover .ring {
  --tw-scale-x: 1.1;
  --tw-scale-y: 1.1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.ringBlue {
  --tw-border-opacity: 1;
  border-color: rgb(219 234 254 / var(--tw-border-opacity, 1));
}

.ringEmerald {
  --tw-border-opacity: 1;
  border-color: rgb(209 250 229 / var(--tw-border-opacity, 1));
}

.dot {
  height: 1rem;
  width: 1rem;
  border-radius: 9999px;
}

.dotBlue {
  --tw-bg-opacity: 1;
  background-color: rgb(0 82 204 / var(--tw-bg-opacity, 1));
}

.dotGreen {
  --tw-bg-opacity: 1;
  background-color: rgb(0 176 116 / var(--tw-bg-opacity, 1));
}

.year {
  margin-bottom: 0.25rem;
  font-family: Plus Jakarta Sans;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
}

.yearBlue {
  --tw-text-opacity: 1;
  color: rgb(0 82 204 / var(--tw-text-opacity, 1));
}

.yearGreen {
  --tw-text-opacity: 1;
  color: rgb(0 176 116 / var(--tw-text-opacity, 1));
}

.h4 {
  margin-bottom: 0.5rem;
  font-family: Plus Jakarta Sans;
  font-size: 16px;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgb(15 23 42 / var(--tw-text-opacity, 1));
}

.text {
  font-family: Inter;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  line-height: 1.625;
  --tw-text-opacity: 1;
  color: rgb(71 85 105 / var(--tw-text-opacity, 1));
}

.row {
  margin-bottom: 1rem;
  display: flex;
  height: 3.5rem;
  width: 3.5rem;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  background-image: linear-gradient(to bottom right, var(--tw-gradient-stops));
  --tw-gradient-from: #0052cc var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(0 82 204 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: #10b981 var(--tw-gradient-to-position);
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored:
    0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow:
    var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
    var(--tw-shadow);
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.group:hover .row {
  --tw-scale-x: 1.1;
  --tw-scale-y: 1.1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.icon {
  font-size: 20px;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.label2 {
  margin-bottom: 0.25rem;
  font-family: Plus Jakarta Sans;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(0 82 204 / var(--tw-text-opacity, 1));
}

.group {
}
